<!--

=========================================================
                Welcome to the webpage of
   __     __)                 _____            _____
  (, /|  /|          /)      (, /   /)        (, /
    / | / |  _   __ (/_        /  _(/  _        /  __
 ) /  |/  |_(_(_/ (_/(__   ___/__(_(__(/_   ___/__/ (_ o
(_/   '                  (__ /            /   /
                                         (__ /
                   {{site.url}}
=========================================================

All of the code that is on this website (the code you're
looking at right now) is available on GitHub at
https://github.com/mide/mide.io. If you have specific
questions, I'll gladly answer them; just reach out at
{{site.url}}/contact or via email at
{{ site.email }}.

-->

<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div id="content">
      {{ content }}
    </div>

    {% include footer.html %}

  </body>

</html>
